* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 400 16px "Poppins", sans-serif;
}

.top {
  padding: 1rem;
}

.btn {
  margin: 1rem;
  border-radius: 1.5rem;
}

p {
  opacity: 0.7;
  margin: 0.8rem;
}

.terms p{
  font-size: 0.7rem;
}

.auth {
  min-width: 23rem;
}


/* ========= Botões de entrada e cadastro ========== */

.tabs-root {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 800;
}

.tabs-root button {
  border: none;
  background-color: white;
  width: 12rem;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.touch-ripple-root {
  margin-top: 1rem;
  border: 1px solid #2962ff;
  width: 100%;
}

/* ========= Botão google e facebook ========== */

.social-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-btns .btns-socials .btn {
  display: flex;
  height: auto;

  font-weight: bold;
  text-transform: capitalize;
}

.social-btns .btns-socials .btn .text {
  margin-left: 1rem;
}

.social-btns .btns-socials:first-child {
  padding-right: 2rem;
}

.social-btns .btns-socials .google-span #googleLoginAnchor {
  background-color: white;
  color: black;
}

/* ========= Separador ========== */

.separator-auth p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator-auth .line::after,
.line::before {
  background-color: rgb(200, 200, 200);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 45%;
}
/* ========= Form ========== */
.alert span {
  opacity: 0.6;
  color: red;
}
