<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script>
   let base = document.createElement("base");
    base.href =
      "/" + document.location.host + "/" + location.href.split("/")[3] + "/";
    document.getElementsByTagName("head")[0].appendChild(base);
  </script>


  <!-- Icon site -->
  <link rel="icon" href="public/images/favicon.ico" />
  <!-- Reset Page -->
  <link rel="stylesheet" href="assets/resources/styles/reset.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap"
    rel="stylesheet" />

  <!-- Materialize -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

  <!-- Styles -->
  <link rel="stylesheet" href="assets/resources/styles/main.css" />
  <link rel="stylesheet" href="assets/resources/styles/auth-Login/auth.css">
  <link rel="stylesheet" href="assets/resources/styles/auth-Login/desktop.css">
  <link rel="stylesheet" href="assets/resources/styles/auth-Login/mobile.css">


  <title>Pouco a Pouco</title>
</head>

<body>

  <header>
    <div class="top">
      <img src="public/images/logo-and-icon.svg" alt="">
    </div>
  </header>

  <main>

    <div id="main" class="container row">

      <div id="motivation" class="motivation col xl6 l6">

        <h5>Hora de transformar suas finanças.</h5>
        <div>
          <img class="motivation-img" src="public/images/router.png" alt="">
        </div>

        <p>
          O caminho está a sua frente. Você já deu seu primeiro passo rumo à transformação financeira e nós te
          guiaremos nessa jornada.
        </p>

      </div>

      <div class="col xl6 l6 m12 s12">

        <header>
          <div class="tabs-root ">
            <div class="button-selector">
              <button class="selection to-enter" disabled>
                <span>Entrar</span>
                <span class="selection selector-enter touch-ripple-root"></span>
              </button>
            </div>

            <div class="button-selector">
              <button class="selection to-register">
                <span>Cadastrar</span>
                <span class="selection selector-login "></span>
              </button>
            </div>

          </div>

        </header>

        <div class="authRegister row">

          <div class="blocks">

            <!-- Auth -->

            <div class="auth display-initial">

              <div class="row">
                <div class="social-btns">
                  <div class="btns-socials">
                    <div class="google-span">
                      <div class="waves-effect waves-light btn google-btn" id="googleAuthAnchor">
                        <img src="public/images/icon-google-logo.svg" alt="">
                        <span class="google-span-text text">Google</span>
                      </div>
                    </div>
                  </div>
                  <div class="btns-socials">
                    <div class="facebook-span">
                      <div class="waves-effect waves-light btn indigo darken-4 facebook-btn">
                        <img src="public/images/icon-facebook.svg" alt="mini icone do facebook" class="">
                        <span class="facebook-span-text text">Facebook</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="separator-auth row">
                  <p class="line">OU</p>
                </div>
              </div>

              <form>
                <div class="row">

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email-auth" placeholder="Tiago@gmail.com" type="email" class="validateDate validate" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
                      <label for="email-auth" class="">Email</label>
                      <div class="requerid-email alert"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password-auth" placeholder="Ex:9XipIGSV" type="password" class="validateDate validate" requerid>
                      <label for="password-auth">Senha</label>
                      <div class="requerid-password alert"></div>
                    </div>
                  </div>

                  <div class="checkboxe center">
                    <p>
                      <label>
                        <input type="checkbox" name="connected" class="filled-in" />
                        <span class="black-text">Mantenha-me conectado</span>
                      </label>
                    </p>
                  </div>

                  <div class="enter-page center">
                    <button id="" type="submit" value="Submit"
                      class="waves-effect waves-light light-blue accent-4 btn enter-btn confirm-entry">
                      <span class="enter-span-text text">Entrar</span>
                    </button>
                  </div>

                  <div class="center ">
                    <a href="#">esqueceu a senha ?</a>
                  </div>

                </div>
              </form>

            </div>

            <!-- Register -->

            <div class="register display-none ">

              <div class="row">

                <div class="social-btns">
                  <div class="btns-socials">
                    <div class="google-span">
                      <div class="waves-effect waves-light btn google-btn" id="googleLoginAnchor">
                        <img src="public/images/icon-google-logo.svg" alt="">
                        <span class="google-span-text text">Google</span>
                      </div>
                    </div>
                  </div>
                  <div class="btns-socials">
                    <div class="facebook-span">
                      <div class="waves-effect waves-light btn indigo darken-4 facebook-btn">
                        <img src="public/images/icon-facebook.svg" alt="" class="">
                        <span class="facebook-span-text text">Facebook</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="separator-auth">
                  <p class="line">OU</p>
                </div>
              </div>

              <!-- ======== Form Concordar e cadastrar ========== -->

              <form class="toSend " name="data" id="toSend">

                <div class="row">
                  <div class="input-field col s12">
                    <input id="name-login" placeholder="Tiago Mendes" name="name" type="text" class="validate" requerid>
                    <label for="name-login">Nome</label>
                    <div id="requerid-name" class="alert"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="email-login" placeholder="Ex: Tiago@gmail.com" type="email" name="email" class="validate" requerid>
                    <label for="email-login">Email</label>
                    <div id="requerid-email" class="alert"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="password-login" placeholder="Ex: 9XipIGSV" name="password" type="password" class="validate"
                      requerid>
                    <label for="password-login">Senha</label>
                    <div id="requerid-password" class="alert"></div>
                  </div>
                </div>

                <div class="checkboxe center">
                  <p>
                    <label>
                      <input type="checkbox" name='connected' class="filled-in" />
                      <span class="black-text">Mantenha-me conectado</span>
                    </label>

                  </p>
                </div>

                <div class="terms center">
                  <p>
                    Ao continuar, estou de acordo com os
                    <a href="#">
                      Termos de Uso
                    </a>e
                    <a href="">
                      Política de Privacidade
                    </a>do Pouco a Pouco.
                  </p>
                </div>

                <div class="register-page center">
                  <button id="confirm-register" type="submit" value="Submit"
                    class="waves-effect waves-light light-blue accent-4 btn confirm-register">

                    <span class="enter-span-text text">
                      Concordar e cadastrar
                    </span>

                  </button>

                </div>

              </form>
            </div>

          </div>

        </div>

      </div>
    </div>
  </main>

  <script src="assets/libraries/materialize/js/materialize.min.js"></script>

  <script type="module" src="assets/resources/scripts/create-requerids-auth.js"></script>

  <script type="module" src="assets/resources/scripts/create-requerids-register.js"></script>

  <script type="module" src="assets/resources/scripts/change-auth-register.js"></script>

  <script type="module" src="assets/resources/scripts/validator-register.js"></script>

  <script type="module" src="assets/resources/scripts/validator-auth.js"></script>

  <script src="assets/resources/scripts/change-auth-register.js"></script>

</body>

</html>