main {
  margin-top: 1rem;
}

.top {
  padding: 1rem 0 0 1rem;
}

.btn {
  margin: 1rem;
  border-radius: 1.5rem;
}

p {
  opacity: 0.7;
  margin: 0.8rem;
}

.terms p {
  font-size: 0.7rem;
}

.auth {
  min-width: 23rem;
}

.motivation-img{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.motivation-img:hover {
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2); /* Firefox */
  -ms-transform:scale(1.2); /* IE 9 */
  -o-transform:scale(1.2); /* Opera */
   transform:scale(1.2);
}

/* ========= Botões de entrada e cadastro ========== */

.tabs-root {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 800;
}

.tabs-root button {
  border: none;
  background-color: white;
  width: 12rem;
}

.tabs-root button:hover {
  color: green;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.touch-ripple-root {
  margin-top: 1rem;
  background-color: rgb(0, 47, 255);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

/* ========= Botão google e facebook ========== */

.social-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-btns .btns-socials .btn {
  display: flex;
  height: auto;

  font-weight: bold;
  text-transform: capitalize;
}

.social-btns .btns-socials .btn .text {
  margin-left: 1rem;
}

.social-btns .btns-socials:first-child {
  padding-right: 2rem;
}

.social-btns .btns-socials .google-span #googleAuthAnchor,
#googleLoginAnchor {
  background-color: white;
  color: black;
}

/* ========= Separador ========== */

.separator-auth p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator-auth .line::after,
.line::before {
  background-color: rgb(200, 200, 200);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 45%;
}

/* ========= Form ========== */
.alert span {
  opacity: 0.6;
  color: red;
}

.display-initial{
  display: initial;

  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 2s ease;
}

.display-none {
  display: none;

  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 2s ease;
}
