body{
  min-width:327px;
}

#logo {
  padding: 1rem;
}

#login {
  color: #2962ff;
}

nav .sidenav-trigger i {
  padding: 0.4rem 0;
 
}

nav ul li a {
  color: #000;
}

ul {
  padding: initial;
}

#mobile-demo {
  margin-top: 3.5rem;
}

#menu {
  padding-left: 15rem;
}

#registration a {
  border-radius: 10rem;
}

@media (min-width: 1000px) {
  .login {
    margin-left: 10rem;
  }

  .nav-wrapper {
    justify-content: center;
    display: grid;
  }
}
